.navBar{
    padding: 15px 0;
    background-color: #3b82f6;
}

.navBar-menu{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 310px;
    background-color: #3a3633;
    margin: 0;
    padding: 0;
    z-index: 10;
    list-style: none;
}

.navBar-usuario{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid #525151;
    margin-bottom: 15px;
}

.navBar-menuItem{
    padding: 15px;
    
}

.navBar-menuItem a{
    color: #c0bbb7;
    text-decoration: none;
    
}

.navBar-menuItem a:hover{
    color: #fff;
    
}