
<app-navbar></app-navbar>
<div class="container">

    <form  (ngSubmit)="postar(formNome.value, formIdade.value, formCidade.value, formEstado.value, formEmail.value, formCelular.value )">

        <div class="ui-g">
            <div class="p-fluid">
                <h1>Nova Pessoa</h1>
            </div>
        </div>

        <div class="grid"> 
            <div class="col-4">
                <label>Nome</label>
                <input  ngModel #formNome="ngModel" name="nome" pInputText type="text" #nome>
            </div>
            <div class="col-1">
                <label>Idade</label>
                <input currencyMask ngModel #formIdade="ngModel" name="idade" pInputText type="text" #nome>
            </div>
        </div>

        <div class="grid"> 
            <div class="col-4">
                <label>Cidade</label>
                <input ngModel #formCidade="ngModel" name="cidade" pInputText type="text" #cidade>
            </div>
            
            <div class="col-1" >
                <label>Estado</label>
               <input ngModel #formEstado="ngModel" name="estado" pInputText type="text" #estado>
            </div>
        </div>

        <div class="grid"> 
            <div class="col-4">
                <label>E-mail</label>
                <input ngModel #formEmail="ngModel" name="email" pInputText type="text">
            </div>
        
            <div class="col-3" >
                <label>Celular</label>
                <input ngModel #formCelular="ngModel" name="celular" pInputText type="text">   
            </div> 
        </div>

        <!--Button -->
        <div class="btnSalvar">
            <button type="submit" pButton >Salvar</button>
            <button style="margin-left: 15px;" type="submit" pButton>Novo</button>
            <a routerLink="/pessoas-pesquisa" style="margin-left: 15px;">Voltar para a pesquisa</a>
        </div>

    </form>
</div>


