.inputG{
    display: flex;
    padding: 25px 0;
    width: 100%;
}

/* Button */
.btnSalvar{
    padding-top: 25px;
    
}
.btnSalvar a{
   text-decoration: none;
   color: #3b82f6;
   cursor: pointer;
    
}

.grid input{
    width: 100%;
}
.grid{
    margin-top: 20px;
}