
<app-navbar></app-navbar>
<div class="container">
    <form>

        <div class="ui-g">
            <div class="p-fluid">
                <h1>Nova Pessoa</h1>
            </div>
        </div>

        <div class="grid"> 
            <div class="nome" class="col-12 lg:col-4">
                <label>Nome</label>
                <input style="width: 100%;" pInputText type="text" #nome>
            </div>
        </div>

        <div class="grid"> 
            <div class="cidade col-5">
                <label>Cidade</label>
                <input style="width: 100%;" pInputText type="text" #cidade>
            </div>
            
            <div class="estado col-1">
                <label>Estado</label>
               <input style="width: 100%;" pInputText type="text" #estado>
            </div>
        </div>

        <!-- <div class="inputG"> 
            <div class="complemento p-fluid">
                <label>Complemento</label>
                <input pInputText type="text">
            </div>
            
            <div class="bairro p-fluid" >
                <label>Bairro</label>
               <input pInputText type="text">
            </div>

            <div class="cep p-fluid" >
                <label>CEP</label>
                <p-inputMask mask="99999-999"></p-inputMask>
            </div>  
        </div> -->

        <div class="grid"> 
            <div class="email col-6" >
                <label>E-mail</label>
               <input style="width: 100%;" pInputText type="text">
            </div>
            
            <div class="contato col-2">
                <label>Celular</label>
                <input style="width: 100%;" pInputText type="text">
            </div>
        </div>

        <!--Button -->
        <div class="btnSalvar">
            <button type="submit" pButton (click)="adicionar(nome.value, cidade.value, estado.value)">Salvar</button>
            <button style="margin-left: 15px;" type="submit" pButton>Novo</button>
            <a routerLink="/pessoas-pesquisa" style="margin-left: 15px;">Voltar para a pesquisa</a>
        </div>

    </form>
</div>


