
<app-navbar></app-navbar>
<div class="container">
    <form>

        <div class="ui-g">
            <div class="p-fluid">
                <h1>Nova Pessoa</h1>
            </div>
        </div>

        <div class="inputG"> 
            <div class="desc p-fluid">
                <label>Pessoa</label>
                <input pInputText type="text">
            </div>
        </div>

        <div class="inputG"> 
            <div class="lugadouro p-fluid">
                <label>Lugadouro</label>
                <input pInputText type="text">
            </div>
            
            <div class="numero p-fluid" >
                <label>Numero</label>
               <input pInputText type="text">
            </div>
        </div>

        <div class="inputG"> 
            <div class="complemento p-fluid">
                <label>Complemento</label>
                <input pInputText type="text">
            </div>
            
            <div class="bairro p-fluid" >
                <label>Bairro</label>
               <input pInputText type="text">
            </div>

            <div class="cep p-fluid" >
                <label>CEP</label>
                <p-inputMask mask="99999-999"></p-inputMask>
            </div>  
        </div>

        <div class="inputG"> 
            <div class="cidade p-fluid">
                <label>Cidade</label>
                <input pInputText type="text">
            </div>
            
            <div class="estado p-fluid" >
                <label>Estado</label>
               <input pInputText type="text">
            </div>
        </div>

        <!--Button -->
        <div class="btnSalvar">
            <button type="submit" pButton>Salvar</button>
            <button style="margin-left: 15px;" type="submit" pButton>Novo</button>
            <a routerLink="/pessoas-pesquisa" style="margin-left: 15px;">Voltar para a pesquisa</a>
        </div>

    </form>
</div>


