.inputG{
    display: flex;
    padding: 25px 0;
    width: 100%;
}

<<<<<<< HEAD
.nome{ 
    width: 85%;
    
}
.idade{ 
    width: 15%;
    padding: 0 15px;
=======
/* .nome{ 
    width: 50%;
>>>>>>> f74469f8e8ba452e0f912e40f201314e6fbe5bd6
    
} */
.vlr{
    width: 30%;
    padding: 0 15px;
}

/* 2 linha */
<<<<<<< HEAD
.cidade{ 
    width: 80%;
=======
/* .cidade{ 
    width: 50%;
>>>>>>> f74469f8e8ba452e0f912e40f201314e6fbe5bd6
    
}
.estado{
    width: 20%;
<<<<<<< HEAD
    padding: 0 15px;
}   

.email{ 
    width: 50%;
}
.celular{
    width: 30%;
    float: left;
    padding: 0 15px;
}
=======
    padding-left: 15px;
} */
>>>>>>> f74469f8e8ba452e0f912e40f201314e6fbe5bd6

/* 3 linha */
/* .complemento{ 
    width: 40%;
    
}
.bairro{
    width: 45%;
    padding-left: 15px;
}

.cep{
    width: 15%;
    padding-left: 15px;
} */


/* 3 linha */
<<<<<<< HEAD
/* .cidade{ 
    width: 50%;
    
}
.estado{
    width: 50%;
    padding-left: 15px;
=======
/* .contato{ 
    width: 20%;
    padding-left: 15px;
    
} */
/* .email{
    width: 50%;
    
>>>>>>> f74469f8e8ba452e0f912e40f201314e6fbe5bd6
} */

/* Button */
.btnSalvar{
    padding-top: 25px;
    
}
.btnSalvar a{
   text-decoration: none;
   color: #3b82f6;
   cursor: pointer;
    
}

.grid{
    margin-top: 15px;
}